body{
    background: linear-gradient(to bottom, #FEF4FF, #C7EBEB);
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

.footer {
    position: absolute;
    top: 90%;
    left: 30%;
    color: #95a5a6;
    font-size: 16px;
}

.header{
    top: 0%;
    left: 15%;
    height: 20%;
    width: 20%;
}
    
.tittle{    
    width: 55%;
    height: 100px;
    
    position: absolute;
    top: 13%;
    left: 22%;

    font-family: 'Jacques Francois';
    font-style: normal;
    font-size: 45px;
    line-height: 59px;
    text-align: center;

    color: #194985;
}
 
.fearful{
    /* Words */
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #ffffff;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    gap: 8px;

    cursor: pointer;
    
    /* Box */
    position: absolute;
    width: 55%;
    height: 15px;
    left: 17%;
    top: 41%;
    
    background: #4A2959;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    
    flex: none;
    order: 0;
    flex-grow: 1
}

.happy{
    /* Words */
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #ffffff;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    gap: 8px;

    /* Box */
    position: absolute;
    width: 10%;
    height: 15px;
    left: 12%;
    top: 56%;
    
    background: #ee9dc7;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    
    flex: none;
    order: 0;
    flex-grow: 1;
    
    cursor: pointer;
}

.angry{
    /* Words */
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #ffffff;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    gap: 8px;
    
    /* Box */
    position: absolute;
    width: 10%;
    height: 15px;
    left: 40%;
    top: 56%;
    
    background: #943636;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    
    flex: none;
    order: 0;
    flex-grow: 1;

    cursor: pointer;
}

.bad{
    /* Words */
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #ffffff;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    gap: 8px;
    
    /* Box */
    position: absolute;
    width: 10%;
    height: 15px;
    left: 67%;
    top: 56%;
    
    background: #526EA4;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    
    flex: none;
    order: 0;
    flex-grow: 1;
    
    cursor: pointer;
}

.surprised{
    /* Words */
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #ffffff;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    gap: 8px;
    
    /* Box */
    position: absolute;
    width: 10%;
    height: 15px;
    left: 12%;
    top: 72%;
    
    background: #e0ca91;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    
    flex: none;
    order: 0;
    flex-grow: 1;

    cursor: pointer;
}

.disgusted{
    /* Words */
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #ffffff;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    gap: 8px;

    /* Box */
    position: absolute;
    width: 10%;
    height: 15px;
    left: 40%;
    top: 72%;

    background: #536e50;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;

    flex: none;
    order: 0;
    flex-grow: 1; 

    cursor: pointer;
}
    
.sad{
    /* Words */
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #ffffff;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    gap: 8px;
    
    /* Box */
    position: absolute;
    width: 10%;
    height: 15px;
    left: 67%;
    top: 72%;
    
    background: #7FBAD3;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    
    flex: none;
    order: 0;
    flex-grow: 1; 

    cursor: pointer;
}

.fearful-pic{
    position: absolute;
    width: 15%;
    height: 15%;
    left: 17%;
    top: 40%;
}

.happy-pic{
    position: absolute;
    width: 15%;
    height: 15%;
    left: 6%;
    top: 53%;
}

.angry-pic{
    position: absolute;
    width: 12%;
    height: 12%;
    left: 37%;
    top: 53%;
}

.bad-pic{
    position: absolute;
    width: 10%;
    height: 10%;
    left: 81%;
    top: 55%;
}

.surprised-pic{
    position: absolute;
    width: 10%;
    height: 10%;
    left: 6%;
    top: 76%;
}

.disgusted-pic{
    position: absolute;
    width: 12%;
    height: 12%;
    left: 43%;
    top: 79.5%;
}

.sad-pic{
    position: absolute;
    width: 11%;
    height: 11%;
    left: 84.5%;
    top: 75%;
}
